.chat-box {
    background-color: #8f8f8f;
    height: 255px;
    border-radius: 10px;
    padding: 8px;
}

.chat-dofy {
    /* height: 30px; */
    background-color: white;
    color: black;
    display: flex;
    justify-content: left;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.chat-user {
    /* height: 30px; */
    background-color: #303030;
    color: white;
    display: flex;
    justify-content: right;
    align-items: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    float: right;
}

.chat-texting {
    display: block;
    width: inherit;
    height: 208px;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 8px;
}

.chat-textbox {
    width: inherit;
}

.chat-send {
    border-radius: 20px;
    width: 20%;
    height: 24px;
    float: right;
}

.textbox {
    width: 78%;
    height: 24px;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px #2e2e2e;
    padding: 10px;
}

.msg-dis {
    display: inline-table;
    width: 100%;
}